.menu_date{
    background-color: aqua;
}
.home_date{
    background-color: burlywood;
}
.bodi_home{
    background-color: blueviolet;
}

.body_profil{
    background-color: cornflowerblue;
}

.body_gallery{
    background-color: chocolate;
}
.kontak_body{
    background-color: aqua;
}
.footer_kita{
    background-color: rgb(142, 165, 42);
}

.menu_solus{
    background-color: blueviolet;
}